$primary: #25834a;
$secondary: #88b06ad8;
$secondaryHover: #88b06a;
$light: #e4e4e4;
$white: #ffffff;

@import '~bootstrap/scss/bootstrap.scss';

body {
  background: $light;
}

/* SlideShow - start */
.carousel-inner {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .fixed-height {
    max-height: 50px;
  }
  
/* SlideShow - end */

/* Assets - start */

/* Card - start */

.card {
    width: 15em;
    margin: 0 auto;
}
/* Card - end */

/* Button - start */

.btn {
  background-color: $secondary;
  border: none;
  color: $white;
}

.btn:hover {
  background-color: $secondaryHover;
  color: $white;
}
/* Button - end */

/* Assets - end */

/* mobile-responsive - start */
  @media screen and (max-width: 784px) {
    .carousel-inner {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    .fixed-height {
      max-height: 550px;
    }

    .card {
      width: 15em;
      margin: 0 auto;
    }    

    iframe {
      width: 490px;
      height: 350px;
    }
  }
